body {
    width: 100%;
    display: flex;

}

.main-container{
    width: 80%;
    display: flex;
    justify-content: center;
    background: rgba(164, 245, 175, 0.85);
}

.flex-container {
/*генерирует flex-контейнер уровня блока*/
/*  display: -webkit-flex;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container-mini{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-container-right{
  display: flex;
  flex-direction: row-reverse;
  /*justify-content: space-around;*/
}

.flex-container-center{
  display: flex;
  justify-content: center;
}

.red_text {
    color: #d51919;
}

#product{
  border: 5px solid #787a7a;
  width: 50%;
}

#calc{
  border: 5px solid #787a7a;
  width: 50%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#tickmarks {
    display: flex;
    justify-content: space-between;
}

#tickmarks2 {
    display: flex;
    justify-content: space-between;
}

